<template>
  <div class="container row col-lg-12" style="margin-top: 30px;">

    <gmap-map ref="gmap"
      :center="center"
      :zoom="12"
      style="width:100%;  height: 400px;"
    >
      <gmap-marker
        :key="index"
        v-for="(m, index) in markers"
        :position="m.position"
        @click="center=m.position"
      ></gmap-marker>
    </gmap-map>
  <div class="col-lg-12 row" style="margin-top: 30px;">
    <div class="col-lg-6" >
            
      <label>
        <button type="button" class="btn btn-primary" @click="addPickup">Set Pickup Location</button>
        <gmap-autocomplete
          @place_changed="setPickup">
        </gmap-autocomplete>
        
      </label>
      <br/>

    </div>
    <div class="col-lg-6" >
      
      <label>
        <button type="button" class="btn btn-primary" @click="addDropoff">Set Dropoff Location</button>
        <gmap-autocomplete
          @place_changed="setDropoff">
        </gmap-autocomplete>
        
      </label>
      <br/>

    </div>
    <br>
    <div class="col-lg-12" style="margin-top: 50px;">
      <button type="button" class="btn btn-primary" @click="getRoute">Estimate fare</button>  
      <button type="button" class="btn btn-primary">Book Taksi</button> 
    </div>
    
  </div>

  <p>{{ markers }}</p>
  </div>
</template>

<script>
export default {
  name: 'customer',
  data () {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      center: { lat: 45.508, lng: -73.587 },
      markers: [],
      places: [],
      currentPlace: null,
      pickup: 0,
      dropoff: 0
    }
  },

  mounted () {
    this.geolocate()
  },

  methods: {
    // receives a place object via the autocomplete component
    setPickup (place) {
      this.currentPlace = place
    },
    setDropoff (place) {
      this.currentPlace = place
    },
    addPickup () {
      if (this.currentPlace && this.pickup === 0) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        }
        this.markers[0] = { position: marker }
        this.places[0] = this.currentPlace
        this.center = marker
        this.currentPlace = null
        this.pickup = 1
      } else {
        this.markers[0] = ''
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        }
        this.markers[0] = { position: marker }
        this.center = marker
        this.currentPlace = null
        this.pickup = 1
      }
    },
    addDropoff () {
      if (this.currentPlace && this.dropoff === 0) {
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        }
        this.markers[1] = { position: marker }
        this.places[1] = this.currentPlace
        this.center = marker
        this.currentPlace = null
        this.dropoff = 1
      } else {
        this.markers[1] = ''
        const marker = {
          lat: this.currentPlace.geometry.location.lat(),
          lng: this.currentPlace.geometry.location.lng()
        }
        this.markers[1] = { position: marker }
        this.center = marker
        this.currentPlace = null
        this.pickup = 1
      }
    },
    getRoute: function () {
      this.$refs.gmap.$gmapApiPromiseLazy().then(() => { 
        this.directionsService = new google.maps.DirectionsService()
        this.directionsDisplay = new google.maps.DirectionsRenderer()
        this.directionsDisplay.setMap(this.$refs.gmap.$mapObject)
        var vm = this
        vm.directionsService.route({
          origin: 'chicago, il',
          destination: 'st louis, mo',
          travelMode: 'DRIVING'
        }, function (response, status) {
          if (status === 'OK') {
            vm.directionsDisplay.setDirections(response)
          } else {
            console.log('Directions request failed due to ' + status)
          }
        })
        })
    },
    geolocate: function () {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        }
      })
    }
  }
}
</script>

<!-- styling for the component -->
<style>
#about {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
