<template>

    <div id="app" class="container">
      <header class="header">
         
         <h1 style="text-align:center;">Welcome to Taksify App</h1>   
     </header>
    <!-- <h1>{{ msg }}</h1> -->
    <div class="col col-lg-12 row">
        <div class="col-lg-6">
            <router-link v-bind:to="'/login'"><button type="button" class="btn btn-secondary btn-lg btn-block" v-on:click="loginCustomer">Use app as Customer</button></router-link>
        </div>
         <div class="col-lg-6">
            <router-link v-bind:to="'/driver'"><button type="button" class="btn btn-secondary btn-lg btn-block">Use app as Driver</button></router-link>
        </div>

    </div>
    
    <router-view></router-view>
  </div>

</template>

<script>
import axios from "axios";
import socket from "../socket";
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Taksify App'
    }
  },
  methods: {
        loginCustomer: function() {
        this.$router.push("/login"); 
    //    this.$router.push('templates/customer')
        }
  }
}

</script>
<!-- styling for the component -->
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
