<template>

    <div class="container">        
        <br><br>
        <div class="row">
            <label class="control-label col-sm-3" for="username">Username:</label>
            <div class="col col-xl-12">
                <input v-model="username" type="text" class="form-control" placeholder="Username" aria-label="username" aria-describedby="basic-addon1">
            </div>
        </div><br>
        <div class="row">
            <label class="control-label col-sm-3" for="password">Password:</label>
            <div class="col col-xl-12">
                <input v-model="password" type="text" class="form-control" placeholder="Password" aria-label="dropoff" aria-describedby="basic-addon1">
            </div>
        </div><br>
        <div class="row">
            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                <li >{{errors}}</li>
                </ul>
            </p>

        </div>
        <br>
        <div class="row">
            <div class="col col-xl-24" >
                <button type="button" class="btn btn-outline-primary disabled" v-on:click="login">                
                    Login      
                </button>
            </div>
            
        </div><br>
        <!-- <div class="row">
            <div class="col col-xl-12">
                <textarea class="col-sm-12" style="background-color:#f4f7ff" rows="4" v-model="messages"></textarea>
            </div>
       
        </div> -->
    </div>

</template>
 
<script>
import axios from "axios";
import socket from "../socket";

export default {
    data: function() {
        return {
            Username: "",
            Password: "",
            messages: "",
            errors: ""
        }
    },
    methods: {
        login: function(e) {
                if (this.username && this.password) {
                    axios.get("/",
                    {sessions: {username: this.username, password: this.password }, username: this.username})
                    .then(response => {
                        this.messages = response.data.msg;
                    }).catch(error => {
                        console.log(error);
                    });
                }

                this.errors = [];

                if (!this.pickup_address) {
                    this.errors.push('Username required.');
                }
                if (!this.password) {
                    this.errors.push('Password required.');
                }
            
                e.preventDefault();
            
        }
    },
    
    mounted: function() {
        var channel = socket.channel("customer:lobby", {});
        channel.join()
            .receive("ok", resp => { console.log("Joined successfully", resp) })
            .receive("error", resp => { console.log("Unable to join", resp) });

        channel.on("requests", payload => {
            this.messages = payload;
        });
    }

}
</script>