<template>
<div class="row">
            <div class="col col-xl-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8366.795608371805!2d26.716935999999997!3d58.38161464999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2see!4v1543179092577" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
        </div>
</template>

 