<br/>
<p style="text-align:center;"><img src= "<%= static_path(@conn, "/images/phoenix.png")%>" class="img-fluid"/> </p> 

<div id="takso-app">
<landingpage></landingpage>
</div>
<br>
<div style="text-align:center;"> <%= link "login", to: customer_path(@conn, :login) %> </div>

  