<div style="text-align:center;">
    <img src= "<%= static_path(@conn, "/images/taksifylogo.png")%>" class="img-fluid"/>
</div>
<div id="takso-app">    
    <login></login>
</div>
<div style="text-align:center;"> <%= link "go to booking page", to: customer_path(@conn, :booking) %> </div>

